html,body
{
    background-color:#DDDDDD;
 
}


#product{
	width:100%;
	position:relative;
	text-align:center;

}



#productImg{
	width:100%;

}





.blackBold
{
   
    font-weight: bold;
    color:#000000;
    font-size:22px;
    letter-spacing: -2px;  
    line-height: 28px;
}

.orangeText
{
    color:#FF3300;
    font-size:20px;
    letter-spacing: -1px;
    line-height: 28px;
}

.blackNormal
{
   
    color:#333333;
    font-size:20px;
    letter-spacing: -1px;
    line-height: 28px;
}




.orderMainMessage
{
    background-color: #FFFFFF;
   
    margin-left:3%;
    width:94%;
    overflow:hidden;
    border:1px #E4E4E4;
}

.productName
{
    margin-top:8px;
    margin-bottom: 12px;
    margin-left:4%;
}




.functionButton
{   
    width:60%;
    background-color:#F76F00;
    color:#ffffff;
    font-weight: bold;
    font-family: SimHei;
    margin-left:20%;
    border-radius:10px;
    clear:both;
    text-align:center;    
    
    height:40px;
    font-size: 28px;        
    margin-top:12px;
    margin-bottom: 12px;
    line-height: 40px;
    
}

.middleTag
{
    /*width:100%;*/
        
}

.middleHint
{
    width:60%;
    background-color:#F76F00;
    color:#E4E4E4;
    margin-left:20%;
    
    clear:both;
    text-align:center;    
    
    height:20px;
    font-size: 10px;
    margin-top:10px;
    margin-bottom: 3px;
    line-height: 20px;
        
}

.orderMessage
{
    
    overflow:hidden;
}


#productPrice
{
    float:left;
    text-align: right;
    width:48%;
    padding-right:3%;
}

#freight
{
    float:left;
    text-align: right;
    width:48%;
    padding-right:3%;
}
#paid
{
    float:left;
    text-align: right;
    width:48%;
    padding-right:3%;
}

#timeToDeliver
{
    float:left;
    text-align: right;
    width:48%;
    padding-right:3%;
}



.tagLeft
{
    clear:both;
    width:45%;
    padding-left:4%;
    float:left;
   
    color:#333333;

}


.moreMessage
{
    background-color: #FFFFFF;
    width:94%;    
    margin-left:3%;
    overflow:hidden;
    margin-top:20px;
    padding-top:16px;
    padding-bottom: 8px;
    margin-bottom:12px;
    border:1px #E4E4E4;
}


#aimLocation
{
    float:left;
    width:48%;
    padding-right:3%;
}
#recieverName
{
    float:left;
    width:48%;
    padding-right:3%;
}
#telephoneNumber
{
    float:left;
    width:48%;
    padding-right:3%;
}
#content
{
    margin-left:0px;
    padding-top:0px;
    margin-top:37px;
}


@media screen and (max-device-width: 479px)
{
	#productImg{
		height:220px;
	}	
	
    .blackBold
    {
        font-size:22px;
        letter-spacing: -2px;  
        line-height: 28px;
    }
    .orangeText
    {
        font-size:20px;
        letter-spacing: -1px;
        line-height: 28px;
    }
    .blackNormal
    {
        font-size:20px;
        letter-spacing: -1px;
        line-height: 28px;
    }
    
    .functionButton
    {   
                
        height:40px;
        font-size: 28px;        
        margin-top:12px;
        margin-bottom: 12px;
        line-height: 40px;
    }

	.middleHint
    {   
                
        height:20px;
	    font-size: 10px;
	    margin-top:10px;
	    line-height: 20px;
    }

    .tagLeft
    {        
        font-size:20px;
        letter-spacing: -1px;
        line-height: 28px;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 639px)
{
    #productImg{
		height:300px;
	}	
	
    .blackBold
    {
        font-size:26px;
        letter-spacing: -2px;  
        line-height: 32px;
    }
    .orangeText
    {
        font-size:24px;
        letter-spacing: -1px;
        line-height: 32px;
    }
    .blackNormal
    {
        font-size:24px;
        letter-spacing: -1px;
        line-height: 32px;
    }
    
    .functionButton
    {                   
        height:45px;
        font-size: 30px;        
        margin-top:14px;
        margin-bottom: 14px;
        line-height: 45px;
    }
    
    .middleHint
    {                
        height:24px;
	    font-size: 12px;
	    margin-top:12px;
	    line-height: 24px;
    }

    .tagLeft
    {        
        font-size:24px;
        letter-spacing: -1px;
        line-height: 32px;
    }
    
}

@media screen and (min-width: 640px) and (max-width: 767px) 
{
	#productImg{
		height:360px;
	}	

    .blackBold
    {
        font-size:28px;
        letter-spacing: -2px;  
        line-height: 34px;
    }
    .orangeText
    {
        font-size:26px;
        letter-spacing: -1px;
        line-height: 34px;
    }
    .blackNormal
    {
        font-size:26px;
        letter-spacing: -1px;
        line-height: 34px;
    }
    
    .functionButton
    {                   
        height:50px;
        font-size: 34px;        
        margin-top:16px;
        margin-bottom: 16px;
        line-height: 50px;
    }

	.middleHint
    {                
        height:28px;
	    font-size: 14px;
	    margin-top:14px;
	    line-height: 28px;
    }

    .tagLeft
    {        
        font-size:26px;
        letter-spacing: -1px;
        line-height: 34px;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) 
{

	#productImg{
		height:420px;
	}
	
    .blackBold
    {
        font-size:30px;
        letter-spacing: -2px;  
        line-height: 36px;
    }
    .orangeText
    {
        font-size:28px;
        letter-spacing: -1px;
        line-height: 36px;
    }
    .blackNormal
    {
        font-size:28px;
        letter-spacing: -1px;
        line-height: 36px;
    }
    
    .functionButton
    {                   
        height:50px;
        font-size: 40px;        
        margin-top:16px;
        margin-bottom: 16px;
        line-height: 50px;
    }
    
    .middleHint
    {                
        height:32px;
	    font-size: 16px;
	    margin-top:16px;
	    line-height: 32px;
    }

    .tagLeft
    {        
        font-size:28px;
        letter-spacing: -1px;
        line-height: 36px;
    }
    
}

@media screen and (min-width: 980px)/* and (max-width: 1199px)*/
{
	#productImg{
		height:500px;
	}

    .blackBold
    {
        font-size:34px;
        letter-spacing: -4px;  
        line-height: 40px;
    }
    .orangeText
    {
        font-size:32px;
        letter-spacing: -2px;
        line-height: 40px;
    }
    .blackNormal
    {
        font-size:28px;
        letter-spacing: -2px;
        line-height: 40px;
    }
    
    .functionButton
    {                   
        height:55px;
        font-size: 42px;        
        margin-top:18px;
        margin-bottom: 18px;
        line-height: 55px;
    }
    
    .middleHint
    {                
        height:36px;
	    font-size: 18px;
	    margin-top:18px;
	    line-height: 36px;
    }

    .tagLeft
    {        
        font-size:32px;
        letter-spacing: -2px;
        line-height: 40px;
    }
}
