#product{
	width:100%;
	position:relative;
	text-align:center;


}



#productImg{
	width:100%;

}

#productName{
	position: absolute;
	background-color:rgba(215,215,215,0.7);
	width:100%;
	bottom:0;
	text-align:center;
	
}



#totalPurchase{
	width:90%;
	margin:auto;

	padding-top:15px;

	font-weight:bold;
	
}

.purchaseNum{
	color:#F76F00;

}


.personalPurchaseDiv{
	width:90%;
	margin:auto;
	position:relative;

}

.avatar{
	border:1px solid #797979;
	border-radius:100%;

	
}

.name{

	margin-left:25px;
	
	position:absolute;

}

.personalPurchaseNum{

	position:absolute;
	right:0;

}

.time{
	color:#999999;
}


#purchase{
	width:90%;
	margin:auto;
	
}

#teamPurchase{
	padding:10px 10px 0 0px;
	
	float:left;
}

#personalPurchase{
	padding-top:10px;
	padding-left:10px;
	
	float:left;
}

.salesPrice{

	font-weight:bold;

	padding:5px;
	
	border-top-right-radius:5px;
    border-top-left-radius:5px;
	
	color:#ffffff;'
	
}



/*濡傛灉浣跨敤鑰呰鍥惧搴� < 480px锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/  
@media screen and (max-width: 479px) {  
	#productImg{
		height:220px;
	}

	#productName{
		font-size:22px;
	}

	#totalPurchase{
		font-size:20px;
	
	}

	.purchaseNum{
		
		font-size:24px;
	}


	.avatar{
		width:40px;
		height:40px;
		
	}

	.name{
		font-size:16px;
		bottom:24px;
	}

	.personalPurchaseNum{
		font-size:16px;
		bottom:24px;
	}

	.time{
		font-size:12px;
	}

}  


/* 濡傛灉浣跨敤鑰呰鍥惧搴︿粙浜� 480 ~ 639锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/    
@media screen and (min-width:480px) and (max-width:639px) {
	#productImg{
		height:300px;
	}

	#productName{
		font-size:26px;
	}

	#totalPurchase{
		font-size:24px;
	
	}

	.purchaseNum{
		
		font-size:28px;
	}


	.avatar{
		width:64px;
		height:64px;
		
	}

	.name{
		font-size:20px;
		bottom:32px;
	}

	.personalPurchaseNum{
		font-size:20px;
		bottom:32px;
	}


	.time{
		font-size:16px;
	}

	.salesPrice{
		font-size:28px;
		
	}


	.purchaseLink{

		font-size:24px;
		
	}
}


   
   
/* 濡傛灉浣跨敤鑰呰鍥惧搴︿粙浜� 640 ~ 767锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/ 

@media screen and (min-width:640px) and (max-width:767px) {  
	#productImg{
		height:360px;
	}

	#productName{
		font-size:30px;
	}

	#totalPurchase{
		font-size:28px;
	
	}

	.purchaseNum{
		
		font-size:32px;
	}


	.avatar{
		width:100px;
		height:100px;
		
	}

	.name{
		font-size:24px;
		bottom:50px;
	}

	.personalPurchaseNum{
		font-size:24px;
		bottom:50px;
	}

	.time{
		font-size:20px;
	}

	.salesPrice{
		font-size:32px;
		
	}


	.purchaseLink{

		font-size:28px;
		
	}
}  
   

/*濡傛灉浣跨敤鑰呰鍥惧搴︿粙浜� 768px ~ 979px锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/
@media screen and (min-width:768px) and (max-width:979px) {  
    #productImg{
		height:420px;
	}

	#productName{
		font-size:34px;
	}

	#totalPurchase{
		font-size:32px;
	
	}

	.purchaseNum{
		
		font-size:36px;
	}


	.avatar{
		width:120px;
		height:120px;
		
	}

	.name{
		font-size:28px;
		bottom:60px;
	}

	.personalPurchaseNum{
		font-size:28px;
		bottom:60px;
	}

	.time{
		font-size:24px;
	}

	.salesPrice{
		font-size:36px;
		
	}


	.purchaseLink{

		font-size:32px;
		
	}
}  
   
   

/*濡傛灉浣跨敤鑰呰鍥惧搴� >980px锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/
@media screen and (min-width:980px){  
	#productImg{
		height:500px;
	}

	#productName{
		font-size:38px;
	}

	#totalPurchase{
		font-size:36px;
	
	}

	.purchaseNum{
		
		font-size:40px;
	}


	.avatar{
		width:120px;
		height:120px;
		
	}

	.name{
		font-size:32px;
		bottom:60px;
	}

	.personalPurchaseNum{
		font-size:32px;
		bottom:60px;
	}

	.time{
		font-size:28px;
	}

	.salesPrice{
		font-size:40px;
		
	}


	.purchaseLink{

		font-size:36px;
		
	}	
} 
