html,body {
	margin:0;
	
}

#header{
	top:0;
	left:0;
	position:fixed;
	height:36px;
	width:100%;
	border-bottom:solid 1px #cccccc;
	background:#fff;
	z-index:5;
	
}

#leftButton{
	float:left;
	margin-left:10px;
}

#homeButton{
	float:right;
    margin-right:15px;
}

#leftButton img{
	width:36px;
	height:36px;
}

#homeButton img{
	width:36px;
	height:36px;
}

#title{
	text-align: center;
	color:#333333;
	font-size: 32px;
	height:36px;
}

#content{
	padding-top:36px;
}


@media screen and (max-device-width: 479px)
{
	#header{
		height:24px;	
	}


	#leftButton img{
		width:24px;
		height:24px;
	}

	#homeButton img{
		width:24px;
		height:24px;
	}

	#title{
		font-size: 20px;
		height:24px;
	}
	
	#content{
		padding-top:24px;
	}
}

@media screen and (min-width: 480px) and (max-width: 639px)
{
	#header{
		height:28px;	
	}


	#leftButton img{
		width:28px;
		height:28px;
	}

	#homeButton img{
		width:28px;
		height:28px;
	}

	#title{
		font-size: 24px;
		height:28px;
	}
	
	#content{
		padding-top:28px;
	}
 
}

@media screen and (min-width: 640px) and (max-width: 767px) 
{
   	#header{
		height:32px;	
	}


	#leftButton img{
		width:32px;
		height:32px;
	}

	#homeButton img{
		width:32px;
		height:32px;
	}

	#title{
		font-size: 28px;
		height:32px;
	}
	
	#content{
		padding-top:32px;
	}
}
@media screen and (min-width: 768px) and (max-width: 979px) 
{
  	#header{
		height:36px;	
	}


	#leftButton img{
		width:36px;
		height:36px;
	}

	#homeButton img{
		width:36px;
		height:36px;
	}

	#title{
		font-size: 32px;
		height:36px;
	}
	
	#content{
		padding-top:36px;
	}
}

@media screen and (min-width: 980px)/* and (max-width: 1199px)*/
{
    #header{
		height:40px;	
	}


	#leftButton img{
		width:40px;
		height:40px;
	}

	#homeButton img{
		width:40px;
		height:40px;
	}

	#title{
		font-size:36px;
		height:40px;
	}
	
	#content{
		padding-top:40px;
	}
}
