body{
	background-color:#ffffff;
	
}


html{
	background-color:#E4E4E4;
}


#product{
	width:100%;
	position:relative;
}


#productImg{
	width:100%;

}


#productName{
	position: absolute;
	background-color:rgba(215,215,215,0.7);
	width:100%;
	bottom:0;
	font-weight:bold;
	
	
}






	
.normalProduct{
	
	border-top:15px solid #E4E4E4;
	border-bottom:1px solid #999999;
	width:100%;
	overflow:hidden;
}


.nPic{
	margin-left:12px;
	margin-top:12px;
	margin-bottom:12px;
	float:left;
	
}

.nPic img{
	width:100%;
	height:100%;
	
}

.nSellInfo{
	
	margin-left:2px;
	margin-top:15px;
	float:left;
	
}

.nName{
	font-family: "黑体";
	font-weight:bold;

	margin-bottom:2px;
	
}

.nIntro{

	font-family: "黑体";
	color:#999999;
	
	margin-bottom:2px;
	
}

.nCheapprice{
	
	font-family: "黑体";
	color:#FF3366;
	margin-bottom:2px;
	

}

.nCheapprice span{
	
	font-family: "黑体";
	color:#000;
	margin-bottom:2px;

}

.nMarketprice{
	
	font-family: "黑体";
	color:#999999;
	margin-bottom:2px;
	

}

.nFriendorder{
	
	font-family: "黑体";
}

	
@media screen and (min-width: 980px) {  

	#productImg{
		
		height:500px;
	}

	#productName{
		font-size:40px;
	}

	.nPic{
		width:240px;
		height:240px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:24px;
	}
		
	.nName{
		font-size: 32px;	
		margin-bottom:5px;
	}
	
	.nIntro{

		font-size: 28px;
		margin-bottom:5px;
	}
	
	.nCheapprice{
		margin-bottom:5px;
		font-size: 36px;
	}
	
	.nCheapprice span{
		margin-bottom:5px;
		font-size: 28px;

	}
	
	.nMarketprice{
		margin-bottom:5px;
		font-size: 28px;
	}

	.nFriendorder{
		margin-bottom:5px;
		font-size: 32px;
	
	
	}
}		
	
	
@media screen and (min-width: 768px) and (max-width: 979px) {  

	#productImg{
		
		height:420px;
	}

	#productName{
		font-size:36px;
	}

	.nPic{
		width:200px;
		height:200px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:16px;
	}
		
	.nName{
		font-size: 32px;	
		margin-bottom:3px;
	}
	
	.nIntro{

		font-size: 28px;
		margin-bottom:3px;
	}
	
	.nCheapprice{
		margin-bottom:3px;
		font-size: 36px;
	}
	
	.nCheapprice span{
		margin-bottom:3px;
		font-size: 28px;

	}
	
	.nMarketprice{
		margin-bottom:3px;
		font-size: 28px;
	}

	.nFriendorder{
		margin-bottom:3px;
		font-size: 32px;
	
	
	}
}	
	

@media screen and (min-width: 640px) and (max-width: 767px) {
	#productImg{
		
		height:360px;
	}

	#productName{
		font-size:32px;
	}


	.nPic{
		width:180px;
		height:180px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:16px;
	}
		
	.nName{
		font-size: 24px;	
		margin-bottom:3px;
	}
	
	.nIntro{

		font-size: 20px;
		margin-bottom:3px;
	}
	
	.nCheapprice{
		margin-bottom:3px;
		font-size: 28px;
	}
	
	.nCheapprice span{
		margin-bottom:3px;
		font-size: 28px;

	}
	
	.nMarketprice{
		margin-bottom:3px;
		font-size: 24px;
	}

	.nFriendorder{
		margin-bottom:3px;
		font-size: 28px;
	
	
	}
	
}
	

@media screen and (min-width:480px) and (max-width:639px){
	#productImg{
		
		height:300px;
	}

	#productName{
		font-size:28px;
	}

	
	
	
	.nPic{
		width:160px;
		height:160px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:16px;
	}
		
	.nName{
		font-size: 20px;	
		margin-bottom:3px;
	}
	
	.nIntro{

		font-size: 16px;
		margin-bottom:3px;
	}
	
	.nCheapprice{
		margin-bottom:3px;
		font-size: 24px;
	}
	
	.nCheapprice span{
		margin-bottom:3px;
		font-size: 16px;

	}
	
	.nMarketprice{
		margin-bottom:3px;
		font-size: 16px;
	}

	.nFriendorder{
		margin-bottom:3px;
		font-size: 20px;
	
	
	}
}


@media screen and (max-width: 479px){

	#productImg{
		
		height:220px;
	}

	#productName{
		font-size:24px;
	}

	
	
	.nPic{
		width:120px;
		height:120px;
		
	}
	
	.nSellInfo{
		width:55%;
		
	}
		
	.nName{
		font-size: 16px;	

	}
	
	.nIntro{

		font-size: 14px;
	}
	
	.nCheapprice{
		
		font-size: 20px;
	}
	
	.nCheapprice span{
		
		font-size: 14px;

	}
	
	.nMarketprice{
		
		font-size: 14px;
	}

	.nFriendorder{
		
		font-size: 16px;
	
	
	}
	
	
}

