body{
	background-color:#ffffff;
	
}


html{
	background-color:#DDDDDD;
}


#sildeAd{
	margin-top:0;
	position: relative;
	width:100%;
}

.product{
    margin-top:0;
    padding:0;
	/*
	transition:0.2s ease-out; 
	-webkit-transition:0.2s ease-out; 
	*/
}

#sildeAd ul li{
	margin-top:0;
	top:0;
	float: left;
}

#sildeAd ul ol{
	 margin-top:0;
	list-style: none;
}

li img{
	width:100%;
}


.productName{

	background-color:rgba(215,215,215,0.7);
	bottom:0;
	padding-left:15px;
	
}

	
.normalProduct{
	
	border-top:5px solid #DDDDDD;
	border-bottom:1px solid #999999;
	width:100%;
	overflow:hidden;
}


.nPic{
	margin-left:12px;
	margin-top:12px;
	margin-bottom:12px;
	float:left;
	
}

.nPic img{
	width:100%;
	height:100%;
	
}

.nSellInfo{
	
	margin-left:2px;
	margin-top:15px;
	float:left;
	
}

.nName{
	
	font-weight:bold;

	margin-bottom:2px;
	text-align:right;
}

.nIntro{


	color:#999999;
	
	margin-bottom:2px;
	text-align:right;
}

.nCheapprice{
	

	color:#FF3366;
	margin-bottom:2px;
	text-align:right;

}

.nCheapprice span{
	color:#000;
	margin-bottom:2px;

}

.nOrderTime{
	
	color:#999999;
	margin-bottom:2px;
	text-align:right;

}

.nFriendorder{
	

}

	
@media screen and (min-width: 980px) {  
	
	#sildeAd{
	
		height:500px;
	}
	

	.product img{
		
		height:500px;
	}

	.productName{
		font-size:38px;
	}

	.nPic{
		width:240px;
		height:240px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:24px;
	}
		
	.nName{
		font-size: 32px;	
		margin-bottom:5px;
	}
	
	.nIntro{

		font-size: 28px;
		margin-bottom:5px;
	}
	
	.nCheapprice{
		margin-bottom:5px;
		font-size: 36px;
	}
	
	.nCheapprice span{
		margin-bottom:5px;
		font-size: 28px;

	}
	
	.nOrderTime{
		margin-bottom:5px;
		font-size: 28px;
	}

	.nFriendorder{
		margin-bottom:5px;
		font-size: 32px;
	
	
	}
}		
	
	
@media screen and (min-width: 768px) and (max-width: 979px) {  
	
	#sildeAd{
	
		height:420px;
	}

	.product img{
		
		height:420px;
	}

	.productName{
		font-size:34px;
	}

	.nPic{
		width:200px;
		height:200px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:16px;
	}
		
	.nName{
		font-size: 32px;	
		margin-bottom:3px;
	}
	
	.nIntro{

		font-size: 28px;
		margin-bottom:3px;
	}
	
	.nCheapprice{
		margin-bottom:3px;
		font-size: 36px;
	}
	
	.nCheapprice span{
		margin-bottom:3px;
		font-size: 28px;

	}
	
	.nOrderTime{
		margin-bottom:3px;
		font-size: 28px;
	}

	.nFriendorder{
		margin-bottom:3px;
		font-size: 32px;
	
	
	}
}	
	

@media screen and (min-width: 640px) and (max-width: 767px) {
	
	#sildeAd{
	
		height:360px;
	}
	
	.product img{
		
		height:360px;
	}

	.productName{
		font-size:30px;
	}


	.nPic{
		width:180px;
		height:180px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:16px;
	}
		
	.nName{
		font-size: 24px;	
		margin-bottom:3px;
	}
	
	.nIntro{

		font-size: 20px;
		margin-bottom:3px;
	}
	
	.nCheapprice{
		margin-bottom:3px;
		font-size: 28px;
	}
	
	.nCheapprice span{
		margin-bottom:3px;
		font-size: 28px;

	}
	
	.nOrderTime{
		margin-bottom:3px;
		font-size: 24px;
	}

	.nFriendorder{
		margin-bottom:3px;
		font-size: 28px;
	
	
	}
	
}
	

@media screen and (min-width:480px) and (max-width:639px){
	
	#sildeAd{
	
		height:300px;
	}
	
	.product img{
		
		height:300px;
	}

	.productName{
		font-size:26px;
	}

	
	
	
	.nPic{
		width:160px;
		height:160px;
		
	}
	
	.nSellInfo{
		width:60%;
		margin-top:16px;
	}
		
	.nName{
		font-size: 20px;	
		margin-bottom:3px;
	}
	
	.nIntro{

		font-size: 16px;
		margin-bottom:3px;
	}
	
	.nCheapprice{
		margin-bottom:3px;
		font-size: 24px;
	}
	
	.nCheapprice span{
		margin-bottom:3px;
		font-size: 16px;

	}
	
	.nOrderTime{
		margin-bottom:3px;
		font-size: 16px;
	}

	.nFriendorder{
		margin-bottom:3px;
		font-size: 20px;
	
	
	}
}


@media screen and (max-width: 479px){
	
	#sildeAd{
	
		height:200px;
	}
	

	.product img{
		
		height:220px;
	}

	.productName{
		font-size:22px;
	}

	
	
	.nPic{
		width:120px;
		height:120px;
		
	}
	
	.nSellInfo{
		width:55%;
		
	}
		
	.nName{
		font-size: 16px;	

	}
	
	.nIntro{

		font-size: 14px;
	}
	
	.nCheapprice{
		
		font-size: 20px;
	}
	
	.nCheapprice span{
		
		font-size: 14px;

	}
	
	.nOrderTime{
		
		font-size: 14px;
	}

	.nFriendorder{
		
		font-size: 16px;
	
	
	}
	
	
}

