html,body
{
    background-color:#DDDDDD;
    padding:0px;
    margin:0px;
}

.blackBold
{
    
   
    color:#000000;
    
    
    font-size:22px;
    letter-spacing: -2px;  
    line-height: 28px;
}

.orangeText
{
    font-size:5vw;
    color:#FF3300;

    font-size:20px;
    letter-spacing: -1px;
    line-height: 28px;
}

.blackNormal
{
  
    color:#333333;
    font-size:20px;
    letter-spacing: -1px;
    line-height: 28px;
    
    
}


.middleTag
{
    margin-left:5%;
    overflow:hidden;
    width:95%;
    margin-top:14px;
}

.bigTag
{
    margin-left: 5%;
}

.tagLeft
{
    
    clear:both;
    width:28%;
    float:left;
    color:#333333;

    font-size:20px;
    letter-spacing: -2px;
    line-height: 28px;
}

#orderMessage
{
    margin-bottom: 24px;
    border-top:3px solid #FF3300;
	
}

.blackNormalRight
{
    float:left;
    width:68%;

    font-size:20px;
    letter-spacing: -1px;
    line-height: 28px;
    
}

.topTag
{
    width:100%;
    padding:3% 0% 3% 0%;

    background-color:#FFFFFF;
    overflow:hidden;
   //border-bottom: 1px solid #CCCCC;
   //border-top: 1px solid;
    
}

.detailLocation
{

    margin-left:5%;
    
    margin-top:8px;
}
.locationIMGAlign
{
    width:5%;
    float:left;
    
    height: 20px;
}
.locationIMG
{
    width:100%;
    height:100%;
}
#detailLocationInfo
{
    float:left;

    width:85%;
    margin-left:4%;
}


.line
{
    width:90%;
    color: #DDDDDD;
    
    margin-top:12px;
}

.functionButton
{   
    width:22%;
    background-color:#F76F00;
    color:#ffffff;
    font-weight: bold;
    
    margin-left:2%;
    border-radius:10px;
    text-align:center;

    height:36px;
    font-size: 20px;
    line-height: 36px;
    
}
#payBlock
{
    padding-bottom:20px;
    padding-top:20px;
    margin-top:40px;
}
#totalPrice
{
    
    clear:both;
    width:50%;
    padding-right: 15%;
    float:left;
    margin-left: 5%;

    height:36px;
    line-height: 36px;
}
#totalSym
{
    //font-size:5vw;
}
#cancelButton
{
    
    color:#333333;
    background-color: #959595;
    float:left;

    font-size:20px;
    letter-spacing: -2px;
}

#payButton
{
    float:left;
}


@media screen and (max-device-width: 479px)
{

    .blackBold
    {
        font-size:22px;
        letter-spacing: -2px;  
        line-height: 28px;
    }
    .orangeText
    {
        font-size:20px;
        letter-spacing: -1px;
        line-height: 28px;
    }
    .blackNormal
    {
        font-size:20px;
        letter-spacing: -1px;
        line-height: 28px;
    }

    .blackNormalRight
    {
        font-size:20px;
        letter-spacing: -1px;
        line-height: 28px;
    }
    .middleTag
    {        
        margin-top:14px;
    }
    .tagLeft
    {        
        font-size:20px;
        letter-spacing: -2px;
        line-height: 28px;
    }  
    .topTag
    {
        padding-top:12px;
        padding-bottom: 12px;
    }
    .detailLocation
    {
        margin-top:8px;
    }
    .locationIMGAlign
    {
        width:20px;
        height: 20px;
    }
    .line
    {
        margin-top:12px;
    }
    .functionButton
    {   
        height:36px;
        font-size: 20px;
        line-height: 36px;
    }
    #totalPrice
    {
        height:36px;
        line-height: 36px;
    }
    #totalSym
    {
        font-size:20px;
    }
    #cancelButton
    {
        font-size:20px;
        letter-spacing: -2px;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px)
{
    
    .blackBold
    {
        font-size:26px;
        letter-spacing: -2px;  
        line-height: 32px;
    }
    .orangeText
    {
        font-size:24px;
        letter-spacing: -1px;
        line-height: 32px;
    }
    .blackNormal
    {
        font-size:24px;
        letter-spacing: -1px;
        line-height: 32px;
    }

    .blackNormalRight
    {
        font-size:24px;
        letter-spacing: -1px;
        line-height: 32px;
    }
    .middleTag
    {        
        margin-top:16px;
    }
    .tagLeft
    {        
        font-size:24px;
        letter-spacing: -2px;
        line-height: 32px;
    }  
    .topTag
    {
        padding-top:14px;
        padding-bottom: 14px;
    }
    .detailLocation
    {
        margin-top:10px;
    }
    .locationIMGAlign
    {
        width:30px;
        height: 30px;
    }
    .line
    {
        margin-top:16px;
    }
    .functionButton
    {   
        height:41px;
        font-size: 25px;
        line-height: 41px;
    }
    #totalPrice
    {
        height:41px;
        line-height: 41px;
    }
    #totalSym
    {
        font-size:24px;
    }
    #cancelButton
    {
        font-size:24px;
        letter-spacing: -2px;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) 
{
    .blackBold
    {
        font-size:28px;
        letter-spacing: -3px;  
        line-height: 34px;
    }
    .orangeText
    {
        font-size:26px;
        letter-spacing: -2px;
        line-height: 34px;
    }
    .blackNormal
    {
        font-size:26px;
        letter-spacing: -2px;
        line-height: 34px;
    }

    .blackNormalRight
    {
        font-size:26px;
        letter-spacing: -2px;
        line-height: 34px;
    }
    .middleTag
    {        
        margin-top:18px;
    }
    .tagLeft
    {        
        font-size:26px;
        letter-spacing: -3px;
        line-height: 34px;
    }  
    .topTag
    {
        padding-top:16px;
        padding-bottom: 16px;
    }
    .detailLocation
    {
        margin-top:12px;
    }
    .locationIMGAlign
    {
        width:40px;
        height: 40px;
    }
    .line
    {
        margin-top:16px;
    }
    .functionButton
    {   
        height:43px;
        font-size: 27px;
        line-height: 43px;
    }
    #totalPrice
    {
        height:43px;
        line-height: 43px;
    }
    #totalSym
    {
        font-size:26px;
    }
    #cancelButton
    {
        font-size:26px;
        letter-spacing: -3px;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) 
{
    .blackBold
    {
        font-size:30px;
        letter-spacing: -3px;  
        line-height: 36px;
    }
    .orangeText
    {
        font-size:28px;
        letter-spacing: -2px;
        line-height: 36px;
    }
    .blackNormal
    {
        font-size:28px;
        letter-spacing: -2px;
        line-height: 36px;
    }

    .blackNormalRight
    {
        font-size:28px;
        letter-spacing: -2px;
        line-height: 36px;
    }
    .middleTag
    {        
        margin-top:20px;
    }
    .tagLeft
    {        
        font-size:28px;
        letter-spacing: -4px;
        line-height: 36px;
    }  
    .topTag
    {
        padding-top:18px;
        padding-bottom: 18px;
    }
    .detailLocation
    {
        margin-top:14px;
    }
    .locationIMGAlign
    {
        width:50px;
        height: 50px;
    }
    .line
    {
        margin-top:18px;
    }
    .functionButton
    {   
        height:45px;
        font-size: 30px;
        line-height: 45px;
    }
    #totalPrice
    {
        height:45px;
        line-height: 45px;
    }
    #totalSym
    {
        font-size:28px;
    }
    #cancelButton
    {
        font-size:28px;
        letter-spacing: -3px;
    }
}

@media screen and (min-width: 980px)/* and (max-width: 1199px)*/
{
    .blackBold
    {
        font-size:34px;
        letter-spacing: -4px;  
        line-height: 40px;
    }
    .orangeText
    {
        font-size:32px;
        letter-spacing: -3px;
        line-height: 40px;
    }
    .blackNormal
    {
        font-size:32px;
        letter-spacing: -3px;
        line-height: 40px;
    }

    .blackNormalRight
    {
        font-size:32px;
        letter-spacing: -3px;
        line-height: 40px;
    }
    .middleTag
    {        
        margin-top:20px;
    }
    .tagLeft
    {        
        font-size:32px;
        letter-spacing: -5px;
        line-height: 40px;
    }  
    .topTag
    {
        padding-top:20px;
        padding-bottom: 20px;
    }
    .detailLocation
    {
        margin-top:16px;
    }
    .locationIMGAlign
    {
        width:60px;
        height: 60px;
    }
    .line
    {
        margin-top:20px;
    }
    .functionButton
    {   
        height:50px;
        font-size: 35px;
        line-height: 50px;
    }
    #totalPrice
    {
        height:50px;
        line-height: 50px;
    }
    #totalSym
    {
        font-size:32px;
    }
    #cancelButton
    {
        font-size:32px;
        letter-spacing: -4px;
    }
}
/*
@media screen and (min-width: 1200px) 
{
    .blackBold
    {
        font-size:38px;
        letter-spacing: -4px;  
        line-height: 44px;
    }
    .orangeText
    {
        font-size:36px;
        letter-spacing: -3px;
        line-height: 44px;
    }
    .blackNormal
    {
        font-size:36px;
        letter-spacing: -3px;
        line-height: 44px;
    }

    .blackNormalRight
    {
        font-size:36px;
        letter-spacing: -3px;
        line-height: 44px;
    }
    .middleTag
    {        
        margin-top:22px;
    }
    .tagLeft
    {        
        font-size:36px;
        letter-spacing: -5px;
        line-height: 44px;
    }  
    .topTag
    {
        padding-top:20px;
        padding-bottom: 20px;
    }
    .detailLocation
    {
        margin-top:18px;
    }
    .locationIMGAlign
    {
        height: 72px;
    }
    .line
    {
        margin-top:22px;
    }
    .functionButton
    {   
        height:55px;
        font-size: 40px;
        line-height: 55px;
    }
    #totalPrice
    {
        height:55px;
        line-height: 55px;
    }
    #totalSym
    {
        font-size:36px;
    }
    #cancelButton
    {
        font-size:36px;
        letter-spacing: -4px;
    }
}*/