#product{
	width:100%;
	position:relative;
	text-align:center;

}


#productImg{

	width:100%;

}

#productName{
	color:#272727;
	background-color:#ECEBEB;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	text-align:center;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	margin-top:-5px;
}


#prompt{
	position: fixed;
	bottom:50%;
	z-index:99;
	width:100%;
	text-align:center;
	display:none;
}

#prompt span{
	background-color:#808080;
	color:#ffffff;
	padding:10px;
	font-size:16px;
}

#heart{
	position: absolute;
	width:15%;
	
	right:7%;
	bottom:18%;
}


.arcLabel{
	background-color:#F76F00;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px 15px 5px 15px;
	border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}


#salesState{
	position:absolute;
	left:0;
	top:45%;
}

#orderNum{
	position:absolute;
	left:0;
	top:65%;
}

#productInfo{

	overflow:hidden;
	padding-top:20px;
	padding-bottom:15px;

}

#infoDesc{
	width:90%;
	margin: auto;
}




.link{
	float:right;
	text-decoration:none;
	color:#FF6600;
	font-weight:bold;
}



.grayDiv{
	background-color:rgb(233,233,233);
	border:1px solid rgb(233,233,233);
	
}




#friendPurchase{
	width:90%;
	margin:auto;
	padding-top:20px;
}

.labelHeader{
	position:relative;
}

.label{
	background-color:#F76F00;
	color:#FFFFFF;
	padding:5px 15px 5px 15px;
	
	font-weight:bold;
	position:absolute;
	left:10px;
}

.whiteDiv{
	position:absolute;
	background-color:#FFFFFF;
	width:100%;

	border-bottom:1px solid #FFFFFF;
}




#purchaseNum{
	color:#FFFF00;

}

#purchaseDetail{
	padding-top:15px;
	padding-left:15px;
	background-color:#FFFFFF;
	overflow:hidden;
}



.personalPurchaseDiv{
	float:left;
	margin-right:5px;
	text-align:center;
}

.avatar{
	border:1px solid #797979;
	border-radius:100%;

}

#friendLink{
	float:left;

}


#productSalesPrice{
	width:90%;
	margin:auto;
	margin-top:20px;
}

#salesProductImgDiv{
	width:100%;
	text-align:center;
	margin:auto;
	
}

#salesProductImg{
	width:89%;
	margin-right:2px;
}

#productSalesInfo{
	width:90%;
	margin:auto;
	background-color:#ffffff;
	overflow:hidden;
	padding-bottom:20px;
	
}

#salesInfo{
	padding:10px 0 10px 15px;
}

.titleFont{

	font-weight:bold;
}

#purchaseLeft{
	width:50%;
	float:left;
}



#purchaseRight{
	width:50%;
	float:right;
}

#teamPurchase{
	padding-top:10px;
	padding-right:5px;
	float:right;
	
}

#personalPurchase{
	padding-top:10px;
	padding-left:5px;
	
	float:left;
	
}

.salesPrice{

	font-weight:bold;
	padding:5px;
	border-top-right-radius:5px;
    border-top-left-radius:5px;
	
	color:#ffffff;'
	
}

#teamPrice{
	background-color:#FF3300;
}

#personalPrice{
	background-color:#FFCC33;
}

.purchaseLink{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding:2px;
	background-color:#F76F00;

	font-weight:bold;
	color:#ffffff;
	text-align:center;
}


#productQuality{
	width:90%;
	margin:auto;
	background-color:#ffffff;
	overflow:hidden;
	margin-top:20px;
	padding-bottom:15px;
}

#qualityLeft{
	width:30%;
	float:left;
	text-align:center;
}

#qualityRight{
	width:70%;
	float:right;
	text-align:center;
}


#qualityContent{
	margin:20px 20px 20px 10px;
}

#qualityLogo{
	float:right;
	
}

#qualityInfo{
	text-align:center;
}

#qualityFont{
	color:#F76F00;

	font-weight:bold;
}

#qualityLink{

	color:#FFFFFF;

	font-weight:bold;
	
	background-color:#F76F00;
	border-radius:13px;

	padding:5px 15px 5px 15px;
}

#productComment{

	width:90%;
	margin:auto;
	
	margin-top:20px;
	
}



#commentContent{
	background-color:#ffffff;
	overflow:hidden;
	
}

#commentInfo{
	padding:15px;
}

.avatarDiv{
	float:left;
	
}


.name{
	color:#FF6600;

	font-weight:bold;
	float:left;

	margin-left:10px;
}

.time{
	color:#999999;

	float:left;

	margin-left:10px;
}

.comment{
	
	clear:both;
	color:#333333;
	word-wrap: break-word; 
}




.commentImg{
	width:90%;
}

#commentLinkDiv{
	text-align:center;
	padding-bottom:20px;
}




#commentLink{
	color:#FFFFFF;

	font-weight:bold;
	
	background-color:#F76F00;
	border-radius:5px;
	
	padding:10px 20px 10px 20px;
}

#LastGrayDiv{
	padding-bottom:20px;
}


 

 

@media screen and (max-width: 479px) {   
	#productImg{
		
		height:200px;
	}

	#productName{
		font-size:18px;
	}


	.arcLabel{

		font-size:16px;
	}


	#infoDesc{
		font-size:14px;
	}

	.descFont{
		font-size:16px;
	}

	.link{
		font-size:20px;
	}

	.labelHeader{
	
		height:35px;
	}

	.label{

		
		font-size:16px;
		
	}

	.whiteDiv{
		margin-top:10px;
		height:25px;
	}




	#purchaseNum{
		font-size:20px;
	}
	
	

	.personalPurchaseDiv{
		font-size:16px;
	}

	.avatar{
		width:40px;
		height:40px;
	}

	#friendLink{
		margin-top:12px;
	}


	#salesProductImg{
		
		height:180px;

	}

	.titleFont{
		font-size:16px;
	
	}


	.salesPrice{
		font-size:24px;
		
		
	}
	
	.salesPrice span{
		font-size:30px;
	}


	.purchaseLink{
		font-size:20px;
	}


	#qualityLogoImg{
		width:80px;
		height:80px;
	}


	#qualityFont{
		font-size:18px;
	}

	#qualityLink{
		font-size:18px;
		
		margin-left:16px;
		
	}

	.name{
		font-size:20px;
		margin-top:10px;
		
	}

	.time{
		font-size:16px;
		margin-top:12px;
		
	}

	.comment{
		margin-left:50px;
		font-size:16px;

	}

	#commentLink{
		font-size:18px;
		
	}

} 
   
/* 濡傛灉浣跨敤鑰呰鍥惧搴︿粙浜� 480 ~ 639锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/    
@media screen and (min-width:480px) and (max-width:639px) {
	#productImg{
		height:300px;
	}

	#productName{
		font-size:26px;
	}


	.arcLabel{
	
		font-size:20px;

	}



	.descFont{
		font-size:20px;
	}

	.link{
		font-size:24px;
	}


	.labelHeader{
	
		height:40px;
	}

	.label{

		font-size:20px;
		
	}

	.whiteDiv{
		margin-top:15px;
		height:25px;
	}




	#purchaseNum{
		font-size:24px;
	}

	.personalPurchaseDiv{
		font-size:20px;
	}
	
	.avatar{
		width:64px;
		height:64px;
	}

	#friendLink{
		margin-top:20px;
	}


	#salesProductImg{
		height:260px;
	}

	.titleFont{
		font-size:20px;
	
	}


	.salesPrice{
		font-size:28px;
		
	}

	.salesPrice span{
		font-size:34px;
	}

	.purchaseLink{
		font-size:24px;
	}


	#qualityLogoImg{
		width:128px;
		height:128px;
	}

	#qualityInfo{
		margin-top:5px;
		margin-left:10px;
	}
	
	
	#qualityFont{
		font-size:24px;
	}

	#qualityLink{
		font-size:24px;
		
		margin-left:30px;
		
	}

	.name{
		font-size:24px;
		margin-top:20px;
		
	}

	.time{
		font-size:20px;
		margin-top:24px;
		
	}

	.comment{
		margin-left:74px;
		font-size:20px;

	}

	#commentLink{
		font-size:22px;
		
	}
}
   
 
   
/* 濡傛灉浣跨敤鑰呰鍥惧搴︿粙浜� 640 ~ 767锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/ 

@media screen and (min-width:640px) and (max-width:767px) {  
	#productImg{
		height:360px;
	}

	#productName{
		font-size:30px;
	}


	.arcLabel{
	
		font-size:24px;

	}



	.descFont{
		font-size:24px;
	}

	.link{
		font-size:28px;
	}


	.labelHeader{
	
		height:45px;
	}

	.label{

		font-size:24px;
		
	}

	.whiteDiv{
		margin-top:20px;
		height:25px;
	}




	#purchaseNum{
		font-size:28px;
	}
	
	.personalPurchaseDiv{
		font-size:24px;
	}

	.avatar{
		width:100px;
		height:100px;
	}

	#friendLink{
		margin-top:38px;
	}


	#salesProductImg{
		height:320px;
	}

	.titleFont{
		font-size:24px;
	
	}


	.salesPrice{
		font-size:32px;
		
	}


	.salesPrice span{
		font-size:38px;
	}

	.purchaseLink{
		font-size:28px;
	}


	#qualityLogoImg{
		width:150px;
		height:150px;
	}

	#qualityInfo{
		margin-top:40px;
		margin-left:10px;
	}

	#qualityFont{
		font-size:28px;
	}

	#qualityLink{
		font-size:28px;
		
		margin-left:32px;
		
	}

	.name{
		font-size:28px;
		margin-top:36px;
		
	}

	.time{
		font-size:24px;
		margin-top:40px;
		
	}

	.comment{
		margin-left:110px;
		font-size:24px;

	}

	#commentLink{
		font-size:26px;
		
	}
}  
 
   
/*濡傛灉浣跨敤鑰呰鍥惧搴︿粙浜� 768px ~ 979px锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/
@media screen and (min-width:768px) and (max-width:979px) {  
    #productImg{
		height:420px;
	}

	#productName{
		font-size:34px;
	}


	.arcLabel{
	
		font-size:28px;

	}



	.descFont{
		font-size:28px;
	}

	.link{
		font-size:32px;
	}


	.labelHeader{
	
		height:50px;
	}

	.label{

		font-size:28px;
		
	}

	.whiteDiv{
		margin-top:20px;
		height:30px;
	}




	#purchaseNum{
		font-size:32px;
	}
	
	.personalPurchaseDiv{
		font-size:28px;
	}

	.avatar{
		width:120px;
		height:120px;
	}

	#friendLink{
		margin-top:44px;
	}


	#salesProductImg{
		height:380px;
	}

	.titleFont{
		font-size:28px;
	
	}


	.salesPrice{
		font-size:36px;
		
	}


	.salesPrice span{
		font-size:42px;
	}

	.purchaseLink{
		font-size:32px;
	}


	#qualityLogoImg{
		width:150px;
		height:150px;
	}

	#qualityInfo{
		margin-top:50px;
		margin-left:10px;
	}

	#qualityFont{
		font-size:32px;
	}

	#qualityLink{
		font-size:32px;
		
		margin-left:36px;
		
	}

	.name{
		font-size:32px;
		margin-top:44px;
		
	}

	.time{
		font-size:28px;
		margin-top:48px;
		
	}

	.comment{
		margin-left:130px;
		font-size:28px;

	}

	#commentLink{
		font-size:30px;
		
	}    
}  


/*濡傛灉浣跨敤鑰呰鍥惧搴� >980px锛屽皣浼氳浇鍏ヨ繖閲岀殑 CSS銆�*/
@media screen and (min-width:980px){  
    #productImg{
		height:500px;
	}

	#productName{
		font-size:38px;
	}


	.arcLabel{
	
		font-size:32px;

	}



	.descFont{
		font-size:32px;
	}

	.link{
		font-size:36px;
	}


	.labelHeader{
	
		height:60px;
	}

	.label{

		font-size:32px;
		
	}

	.whiteDiv{
		margin-top:25px;
		height:35px;
	}




	#purchaseNum{
		font-size:36px;
	}
	
	.personalPurchaseDiv{
		font-size:32px;
	}

	.avatar{
		width:120px;
		height:120px;
	}

	#friendLink{
		margin-top:44px;
	}


	#salesProductImg{
		height:440px;
	}

	.titleFont{
		font-size:32px;
	
	}


	.salesPrice{
		font-size:40px;
		
	}
	
	
	.salesPrice span{
		font-size:44px;
	}


	.purchaseLink{
		font-size:36px;
	}


	#qualityLogoImg{
		width:150px;
		height:150px;
	}

	#qualityInfo{
		margin-top:45px;
		margin-left:10px;
	}

	#qualityFont{
		font-size:36px;
	}

	#qualityLink{
		font-size:36px;
		
		margin-left:40px;
		
	}

	.name{
		font-size:36px;
		margin-top:40px;
		
	}

	.time{
		font-size:32px;
		margin-top:44px;
		
	}

	.comment{
		margin-left:130px;
		font-size:32px;

	}

	#commentLink{
		font-size:34px;
		
	}         
} 




@media screen and (max-width: 350px) {   
	
	.salesPrice{
		font-size:22px;
		
		
	}
	
	.salesPrice span{
		font-size:28px;
	}

} 
