#product{
	width:100%;
	position:relative;
	text-align:center;

}


#productImg{

	width:100%;

}

#productName{
	position: absolute;
	background-color:rgba(215,215,215,0.7);
	width:100%;
	bottom:0;
	text-align:center;
	
	
}



#detailImg{
	margin-top:50px;
	width:90%;
	margin-left:5%;
}



@media screen and (max-width: 479px) { 
	#productImg{
		height:220px;
	}

	#productName{
		font-size:22px;
	}


}


@media screen and (min-width:480px) and (max-width:639px) {
	#productImg{
		height:300px;
	}

	#productName{
		font-size:26px;
	}


}

@media screen and (min-width:640px) and (max-width:767px) { 
	#productImg{
		height:360px;
	}

	#productName{
		font-size:30px;
	}


}


@media screen and (min-width:768px) and (max-width:979px){
	#productImg{
		height:420px;
	}

	#productName{
		font-size:34px;
	}

}

@media screen and (min-width:980px){
	#productImg{
		height:500px;
	}

	#productName{
		font-size:38px;
	}



}





