html{
	background-color:#dddddd;
}

body{
	background-color:#FFFFFF;
}

#content{
	overflow:hidden;
}

.blank{
	background:#D7D7D7;
	width:100%;
	border-bottom:2px solid #F76F00;
}


.dPanel{
	//width:92%;
	//margin:auto;
	margin-left:12px;
	margin-right:20px;
	padding-bottom:15px;
	background-color:#ffffff;
}

.cell{
	margin-top:20px;
	position:relative;
}

.input{
	margin-top:8px;
	width:100%;
	border:1px solid gray;
	border-radius:5px;
}

#iToAddress{
    position:absolute;
    right:0px;
    z-index: 1;
}

#iSure{
	width:100%;
	text-align:center;
	background-color:#F76F00;
	//font-weight:bold;
	color:#ffffff;
}


#submit{
	width:100%;
	background-color:transparent;
	border:none;
	color:#ffffff;
}

#province{
	display:none;
}

.select{
    width:25%;
}

#location{
	display:none;
}

#s3{
	float:right;
	width:35%;
}

#s2{
	margin-left: 3%;
	//margin-right: 3%;
	width:30%;
}

.iInput{
	width:100%;
}

@media screen and (max-width: 480px){
	.blank{
		height:15px;
	}
	
	.cell{
	    font-size:16px;
	}
	
	.input{
		font-size:16px;
		height:35px;
	}
	
	#iToAddress{
	    width:25px;
	    height:25px;
	    bottom:6px;
	}
	
	#iSure{
		font-size:20px;
		height:40px;
	}
	
	#submit{
		font-size:20px;
		height:40px;
    }

	.select{
	    height:35px;
	    //margin-right:2px;
	    //float:left;
	    //font-size:16px;
    }
	
}

@media screen and (min-width: 480px) and (max-width: 639px){
	.blank{
		height:20px;
	}
	
	.cell{
	    font-size:20px;
	}
	
	.input{
		font-size:20px;
		height:50px;
	}
	
	#iToAddress{
	    width:40px;
	    height:40px;
	    bottom:5px;
	}
	
	#iSure{
		font-size:24px;
		height:50px;
	}

	#submit{
		font-size:24px;
		height:50px;
    }
    	
	.select{
	    height:50px;
	    //margin-right:2px;
	    //float:left;
	    font-size:20px;
    }
	
}

@media screen and (min-width: 640px ) and (max-width: 767px){
	.blank{
		height:25px;
	}
	
	.cell{
	    font-size:24px;
	}
	
	.input{
		font-size:24px;
		height:60px;
	}

	#iToAddress{
	    width:50px;
	    height:50px;
	    bottom:5px;
	}
		
	#iSure{
		font-size:28px;
		height:60px;
	}

	#submit{
		font-size:28px;
		height:60px;
    }
    		
	.select{
		font-size:24px;
		height:60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px){
	.blank{
		height:30px;
	}
	
	.cell{
	    font-size:28px;
	}
	
	.input{
		font-size:28px;
		height:70px;
	}

	#iToAddress{
	    width:60px;
	    height:60px;
	    bottom:5px;
	}
		
	#iSure{
		font-size:32px;
		height:70px;
	}

	#submit{
		font-size:32px;
		height:70px;
    }
    
	.select{
		font-size:28px;
		height:70px;
    }
}

@media screen and (min-width: 980px){
	.blank{
		height:35px;
	}
	
	.cell{
	    font-size:32px;
	}
	
	.input{
		font-size:32px;
		height:80px;
	}

	#iToAddress{
	    width:70px;
	    height:70px;
	    bottom:5px;
	}
		
	#iSure{
		font-size:36px;
		height:80px;
	}

	#submit{
		font-size:36px;
		height:80px;
    }
    
	.select{
		font-size:32px;
		height:80px;
    }
}